@{
    ViewBag.Title = "Potwierdzenie konta e-mail";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Sprawdź pocztę e-mail, kliknij w przesłany link, aby potwierdzić konto.
    </p>
</div>