@model G.A.Z.SIOS.Models.Events
@{
    ViewBag.Title = "EventList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wszystkie wydarzenia</h2>

<dev class="row">
    <div class="col-md-8">
        @foreach (var item in Model.Wydarzenie)
        {
            <hr />
            <div class="form-group">
                @Html.DisplayFor(modelItem => item.Data.Day).@Html.DisplayFor(modelItem => item.Data.Month).@Html.DisplayFor(modelItem => item.Data.Year)
                <br />
                <div class="col-md-10">
                    @Html.DisplayFor(modelItem => item.Nazwa)
                    @Html.DisplayFor(modelItem => item.Miejsce)
                    @Html.DisplayFor(modelItem => item.Cena_wejsciowki) zł
                </div>
                <br />
            </div>
        }
        </div>
</dev>

