@model G.A.Z.SIOS.Models.Events
@{
    ViewBag.Title = "Wszystkie wydarzenia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wszystkie wydarzenia</h2>

@foreach (var item in Model.Wydarzenie)
{
<dev class="row">
    <div style="border: 1px solid white;">
        <div class="col-md-2">
            <h5>@Html.DisplayFor(modelItem => item.Data.Day).@Html.DisplayFor(modelItem => item.Data.Month).@Html.DisplayFor(modelItem => item.Data.Year)</h5>
        </div>
        <div class="col-md-2">
            <h5>@Html.DisplayFor(modelItem => item.Data.Hour):@Html.DisplayFor(modelItem => item.Data.Minute)</h5>
        </div>
        <div class="col-md-7">
            <h4>@Html.DisplayFor(modelItem => item.Nazwa)</h4>
        </div>
    </div>
</dev>
}
