
@{
    ViewBag.Title = "Dodaj_wydarzenie";
}
    <div>
        Nazwa wydarzenie: <input type="text" /><br />
        Miejsce wydarzenia: <input type="text" /><br />
        Czas: <input type="text" /><br />
        Rodzaj wydarzenia:<br />
        Impreza <input type="radio" /><br />
        Wojsko <input type="radio" /><br />
        Targi pracy <input type="radio" /><br />
        Naukowe <input type="radio" /><br />
        <input type="submit" value="Dodaj wydarzenie"/><br />
    </div>
