
@{
    ViewBag.Title = "Dodaj_wydarzenie";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Tylko dla zalogowanych uzytkownikow</h2>

<div>
    <h2>Dodaj wydarzenie</h2><br />
    Nazwa wydarzenie: <input type="text" /><br />
    Rodzaj wydarzenia: <input type="text" /><br />
    Nazwa wydarzenie: <input type="text" /><br />
</div>
