
@{
    ViewBag.Title = "Dodaj_wydarzenie";
}
<h2>Dodawanie wydarzenia</h2><br />
    <div>
        Nazwa wydarzenie: <input type="text" /><br />
        Miejsce wydarzenia: <input type="text" /><br />
        Czas: <input type="text" /><br />
        Rodzaj wydarzenia:<br />
        Impreza <input type="checkbox" /> Wojsko <input type="checkbox" /> Targi pracy <input type="checkbox" /> Naukowe <input type="checkbox" /><br />
        <input type="submit" value="Dodaj wydarzenie"/><br />
    </div>
