
@{
    ViewBag.Title = "Imprezy_studenckie";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Albo cała zakładka tylko dla zalogowanych uzytkownikowha, albo tylko jej funkcje jak np. weź udział</h2>

