@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title> G.A.Z.</title>
    <meta charset="utf-8" />
    <style type="text/css">
        .container {
            width: 100%;
            height: 100%;
        }

        .zdjecia {
            width: auto;
            height: auto;
            min-height: 200px;
            min-width: 400px;
        }
    </style>
</head>
<body>
    <div class="container">

        <div style="text-align:center; ">
            <p style="color: darkorange;">Dołącz do platformy SIOS!</p>
            <p style="color: darkorange;">Zajmujemy się wszelkimi wydarzeniami naukowymi, studenckimi czy imprezami.</p>
            <p style="color: darkorange;">To z Nami będziesz mógł tworzyć oraz być informowanym o najważniejszych eventach.</p>
            <p style="color: darkorange;">Działamy już 3 miesiące i zobacz przy jakich wydarzeniach mieliśmy udział.</p>
            <p style="color: red;">Nie czekaj ani chwili, zajerejestruj się już dziś!</p>
        </div>


        <div class="zdjecia" style="text-align:center;">
            <img id="image" src="~/Images/1.jpg" style="width: auto; height: auto" />
            <br />
            <input type="button" value="Start" onclick="startImageSlideShow()" />
            <input type="button" value="Stop" onclick="stopImageSlideShow()" />
            <script type="text/javascript">
                var intervalId;

                function startImageSlideShow() {
                    intervalId = setInterval(setImage, 1500);
                }

                function stopImageSlideShow() {
                    clearInterval(intervalId);
                }

                function setImage() {
                    var imageSrc = document.getElementById("image").getAttribute("src");
                    var currentImageNumber = imageSrc.substring(imageSrc.lastIndexOf("/") + 1,
                        imageSrc.lastIndexOf("/") + 2);
                    if (currentImageNumber == 8) {
                        currentImageNumber = 0;
                    }
                    document.getElementById("image").setAttribute("src", "/Images/" +
                        (Number(currentImageNumber) + 1) + ".jpg");
                }
            </script>
        </div>
        <br /><br /><br />
        <div style="text-align:center;">
            <a href="https://www.facebook.com/GAZ-SIOS-115855283186705/">
                <img src="~/Images/fb.jpg" style="height:70px; width:70px">
            </a>
            <a href="https://www.instagram.com/g.a.z.sios/">
                <img src="~/Images/ig.jpg" style="height:70px; width:70px">
            </a>
        </div>
    </div>


</body>
</html>
