@model G.A.Z.SIOS.Models.Events
@{
    ViewBag.Title = "Opinie_i_raporty";
}
<br />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

var 

<div class="row">
    @using (Html.BeginForm("Opinia_i_raporty", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-success">
                <br />
                <strong>@ViewBag.SuccessMessage</strong>
            </div>
        </div>

        <div class="form-group">
            <h4>Wybierz wydarzenie</h4>
            <div class="col-md-10">
                
                Planowany rozwój zakładki. Brak funduszy.
            </div>
        </div>
    }


</div>
<h2>Wybierz wydarzenie o którym chcesz napisać opinię</h2>
<label for=" Moje_wydarzenia">Wydarzenia</label>
<select id="Moje_wydarzenia">
    <option value="Wydrzenie u Jacka">Wydrzenie u Jacka</option>
    <option value="Otrzęsiny WAT">Otrzęsiny WAT</option>
    <option value="Targi pracy">Targi pracy</option>
</select>
<h2>Twoja opinia</h2>
<textarea rows="8" cols="50">
Impreza była bardzo fajna. Przyjdę tu drugi raz.
</textarea>

&nbsp;<input id="Wyslij" type="button" value="Wyślij" />

<h2>jeżeli były organizowane wydarzenia u Nas przez Ciebie to koniecznie sprawdź jakie opinie piszą uczestnicy o nich.</h2>
<h2>Wybierz wydarzenie o którym chcesz napisać opinię</h2>
<label for=" Moje_wydarzenia">Wydarzenia</label>
<select id="Moje_wydarzenia">
    <option value="Wydrzenie u Jacka">Wydrzenie u Jacka</option>
    <option value="Otrzęsiny WAT">Otrzęsiny WAT</option>
    <option value="Targi pracy">Targi pracy</option>
</select>

&nbsp;<input id="Raport" type="button" value="Raport" /> 