@model G.A.Z.SIOS.Models.PointsViewModels
@{
    ViewBag.Title = "Twoje Punkty";
}


<h2>@ViewBag.Title.</h2>
<div>
    <h4>Zarządzaj swoimi punktami</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt></dt>
        <dd>
            <p class="text-info">
                Punkty lojalościowe otrzymuje się za wzięcie udziału w wydarzeniu i przesyłaniu opini. Zdobyte punkty lojalnościowe możesz wymienić na nagrody.
            </p>
        </dd>
        <dt>Zgromadzone Punkty:</dt>
        <dd>
            @Html.DisplayFor(m => m.Points)
        </dd>
        <dt></dt>
        <dd>
            <p class="text-warning">@ViewBag.SuccessMessage</p>
        </dd>
    </dl>
</div>
<input type="button" value="Powrót" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Manage")'" />

